html, body {
    overflow-x: hidden;
  }
body {
    position: relative;
}
header {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    flex-grow: 1;
}
#to-do-list{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 20px;
    margin-bottom: -5px;
}
#project-btn {
    margin-left: 20px;
}
.project-list {
    min-width: 200px;
    max-width: 300px;
    height: auto;
    border: 2px solid black;
    border-radius: 5px;
    padding: 20px;
    display: flex;
}

.to-do-item {
    width: auto;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
}

.priority1 {
    background-color: rgba(204,50,50, 0.4);
}

.priority2 {
    background-color: rgba(231,180,22, 0.4);
}

.priority3 {
    background-color: rgba(45,201,55, 0.4);
}

.completed-todo {
    background-color: transparent;
    opacity: 0.6;
}

.completed-todo-title {
    text-decoration: line-through;
}

#newProjectDialog > article {
    max-width: 370px;
}

#projectForm {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
#projectTitle {
    margin-bottom: 3px;
}
#counter {
    color: gray;
}