body {
    margin: 30px;
}
.project-list {
    width: 300px;
    height: auto;
    border: 2px solid black;
    border-radius: 5px;
    padding: 20px;
}

.to-do-item {
    width: auto;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
}

.priority1 {
    background-color: rgba(204,50,50, 0.4);
}

.priority2 {
    background-color: rgba(231,180,22, 0.4);
}

.priority3 {
    background-color: rgba(45,201,55, 0.4);
}